<!doctype html>
<html>

<head>
    <%- partial("../_partials/_head") %>
    <link rel="stylesheet" href="<%- link %>">
</head>

<body>
    <header>
        <a href="/index.html">home</a>
        <h1><%- page %></h1>
    </header>

    <main>
        <%- yield %>
    </main>

    <footer>
    </footer>

</body>

</html>
