<!doctype html>
<html class="no-js"> <!--<![endif]-->
<head>
	<%- partial("../_partials/_head") %>
	<link rel="stylesheet" href="<%- link %>">
</head>
<body>

    <header>
        <h1><%- page %></h1>
        <a href="/index.html">home</a>
    </header>

    <main>
        <%- yield %>
    </main>

    <footer>
    </footer>

</body>
</html>
