       <form class="container" role="navigation">
        <input type="radio" class="hide" id="all" name="filter" checked="checked">
        <label for="all">All</label>

        <input type="radio" class="hide" id="illustration" name="filter">
        <label for="illustration">Illustration</label>

        <input type="radio" class="hide" id="posters" name="filter">
        <label for="posters">Posters</label>

        <input type="radio" class="hide" id="typography" name="filter">
        <label for="typography">Typography</label>

        <input type="radio" class="hide" id="packaging" name="filter">
        <label for="packaging">Packaging</label>


        <section class="portfolio" role="main">
            <figure class="all poster" data-category="poster">
                <img src="/images/image1.jpg" alt="This is 1 portfolio thumbnail">
                <figcaption>
                    <h4>Dog </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et velit iste esse quaerat tenetur sint.</p>
                    <a href="#list">linka</a>
                </figcaption>
            </figure>
            <figure class="all illustration" data-category="illustration">
                <img src="/images/image2.jpg" alt="This is 2 portfolio thumbnail">
                <figcaption>
                    <h4>Kathy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et velit iste esse quaerat tenetur sint.</p>
                </figcaption>
            </figure>
            <figure class="all typography" data-category="typography">
                <img src="/images/image4.jpg" alt="This is 4 portfolio thumbnail">
                <figcaption>
                    <h4>Kroos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et velit iste esse quaerat tenetur sint.</p>
                </figcaption>
            </figure>
            <figure class="all package" data-category="package">
                <img src="/images/image7.jpg" alt="This is 7 portfolio thumbnail">
                <figcaption>
                    <h4>Zetterbergs</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et velit iste esse quaerat tenetur sint.</p>
                </figcaption>
            </figure>
        </section>
        <section id="list">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ducimus eos ipsa id aspernatur dolor quam repellat ratione inventore expedita.
        </section>
    </form>
