    <div class="hero d-flex align-items-center justify-content-center">
        <h1 class="display-1">Slogan</h1>
    </div>

    <div class="container">
        <h1 class="display-1">Heading 1</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iure iste voluptatum eos, atque magni nisi error excepturi facere blanditiis rem, fugiat perspiciatis commodi rerum sunt eveniet at animi, ab fugit quia quibusdam saepe laudantium. Maiores dicta nihil molestiae repellendus, excepturi enim minus, distinctio iure incidunt dolorem, iusto odio! Harum fuga neque magnam quis! Illo, explicabo saepe quas nam, doloribus totam necessitatibus vel deserunt voluptatum doloremque quisquam amet odio eos laborum neque. Veniam dolor aperiam quos perferendis excepturi possimus placeat id aspernatur voluptates dolorem consequuntur aliquam sunt, molestias rerum quaerat vitae saepe tenetur vero voluptatibus consectetur officiis autem molestiae, voluptas!</p>

<!--
    <div class="card mb-3">
        <img class="card-img-top" src="images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card mb-3" style="width: 18rem;">
        <img class="card-img-top" src="images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
-->



    <div class="card-deck mb-3">
        <div class="card">
            <img class="card-img-top" src="images/image1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/image2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/image4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>




