<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%- title %> /<%- site %></title>
	<meta name="description" content="<%- description %>">
	<meta name="viewport" content="width=device-width">
	<!--%- partial("_partials/_canonical") %-->
    <!--%- partial("_partials/_web-font-loader") %-->
	<!--%- partial("_partials/_og") %-->
