<title><%- title %> /<%- site %></title>
<%- partial("_meta") %>
<meta name="description" content="<%- description %>"/>
<!--%- partial("head._favicon") %-->
<!--%- partial("head._prefetch") %-->
<!--%- partial("head._meta-social") %-->
<!--%- partial("head._rel-canonical") %-->
<!--%- partial("head._meta-app") %-->
<!--%- partial("head._script-ld") %-->
<!--%- partial("_head.web-font-loader") %-->
